{% extends 'parkproject/main.html' %}
{% load static %}
{% block title %} Servicii {% endblock %}

{% block mainbody %}

<div class="container text-center">
    <br>
    <h2 style='color:darkslategray;'>Servicii</h2>
    <br><br>
    <div class="row">
      <div class="col">
        <img class="account" src="{% static 'parcare/images/electric_icon.png' %}" alt="Account image">
        <hr>
        <p style='color:darkslategray;'>Incepand cu luna Aprilie 2023, vor fi disponibile 3 locuri cu statii de incarcare masini electrice.
           <br>Acestea vor fi amplasate la etajul 1, intrarea principala.
        </p>
      </div>
      <div class="col">
        <img class="account" src="{% static 'parcare/images/disabil_icon.png' %}" alt="Account image">
        <hr>
        <p style='color:darkslategray;'>La fiecare etaj gasiti cate doua locuri de parcare pentru persoanele cu dizabilitati.
           <br>Acestea sunt pozitionate in apropierea lifturilor si toaletelor.
        </p>
      </div>
      <div class="col">
        <img class="account" src="{% static 'parcare/images/toaleta_icon.png' %}" alt="Account image">
        <hr>
        <p style='color:darkslategray;'>Toaletele sunt amplasate la etajul 1, in apropierea intrarii principale.
           <br>Accesul se face prin scanarea biletului sau cardului de abonat.
        </p>
      </div>
    </div>
  </div>
<br><br><br><br>
{% endblock %}