{% extends 'parkproject/main.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% translate "Tarife" %} {% endblock %}

{% block mainbody %}
<link rel="stylesheet" type="text/css" href="{% static 'parcare/css/tarife.css' %}">

<div class="container text-center">
    <br>
    <h2 style='color:darkslategray;'>{% translate "Tarife Parcare" %}</h2>
    <br><br>
    <div class="row">
      <div class="col">
        <img class="account" src="{% static 'parcare/images/ceas_icon.png' %}" alt="image">
        <p>{% translate "Tarif pe ora/24h" %}</p>
        <a class="btn btn-secondary" href="{% url 'parcare:tarife_ora' %}">{% translate "Informatii" %}</a>
      </div>
      <div class="col">
        <img class="account" src="{% static 'parcare/images/abonament_icon.png' %}" alt="image">
        <p>{% translate "Preturi abonamente" %}</p>
        <a class="btn btn-secondary" href="{% url 'parcare:abonamente' %}">{% translate "Informatii" %}</a>
      </div>
      <div class="col">
        <img class="account" src="{% static 'parcare/images/card_icon.png' %}" alt="image">
        <p>{% translate "Preturi carduri reincarcabile" %}</p>
        <a class="btn btn-secondary" href="{% url 'parcare:carduri' %}">{% translate "Informatii" %}</a>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="account" src="{% static 'parcare/images/eveniment_icon.png' %}" alt="image">
            <h6>{% translate "Evenimente" %}</h6>
            <p>{% translate "Oferim posibilitatea rezervarii mai multor locuri de parcare pentru evenimente (conferinte, spectacole, nunti...) la tarife speciale." %}
                <br><a href="{% url 'parcare:contact' %}">{% translate "Contacteaza-ne pentru oferte" %}.</a>
            </p>
        </div>
        <div class="col">
            <img class="account" src="{% static 'parcare/images/hotel_icon.png' %}" alt="image">
            <h6>{% translate "Conventii Hoteluri" %}</h6>
            <p>{% translate "Locuri de parcare in zona publica, supravegheate video 24h/24h." %}
                <br>{% translate "70lei/24h" %}
            </p>
        </div>
        <div class="col">
            <img class="account" src="{% static 'parcare/images/societate_icon.png' %}" alt="image">
            <h6>{% translate "Conventii Societati" %}</h6>
            <p>{% translate "Carduri valabile Luni - Vineri. " %}
                <br>{% translate "50lei/24h" %}
            </p>
        </div>
    </div>
</div>
<br><br><br>

{% endblock %}