{% extends 'parkproject/main.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% translate "Sterge profil" %} {% endblock %}
{% block mainbody %}
<center>
<div class="alert alert-secondary" role="alert">
  {% translate "Confirmare eliminare profil" %} {{ profil }}.
</div>
 <form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">{% translate "Elimina Profilul" %}</button>
    <a class="btn btn-secondary" href="{% url 'parcare:parcare' %}">{% translate "Renunta!" %}</a>
    <hr>
  </form>
</center>
{% endblock %}