{% extends 'parkproject/main.html' %}
{% load static %}
{% block title %}Resetare Parola{% endblock %}

{% block mainbody %}
<link rel="stylesheet" type="text/css" href="{% static 'useri/css/password_reset_form.css' %}">

  <h2 class='titlu'>Ai uitat parola?</h1>
<center><p>După trimiterea cererii vei primi un email cu instrucțiunile pentru recuperarea parolei.</p></center>
  <form method="POST" class='form-control'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Trimite!</button>
    <a href="{% url 'useri:login' %}" class="btn btn-secondary">Renunta!</a>
  </form>
{% endblock %}