{% extends 'parkproject/main.html' %}
{% load static %}
{% block title %}Parola noua{% endblock %}

{% block mainbody %}
<link rel="stylesheet" type="text/css" href="{% static 'useri/css/password_reset_confirm.css' %}">

{% if validlink %}

<h2 class='titlu'>Introdu noua parola!</h2>
<form method="POST" class='form-control'>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-secondary">Schimba parola</button>
</form>

{% else %}

<p>Linkul pentru resetarea parolei nu e valabil sau a mai fost folosit. Trimite o noua cerere pentru resetarea parolei.</p>
<button class="btn btn-secondary" href="{% url 'useri:password_reset_form' %}">Retrimite cererea.</button>
{% endif %}
{% endblock %}