h2.titlu {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

form.form-control {
    background:none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

p {
    margin-left: 5%;
    margin-right: 5%;
}

label {
    text-align: right;
    margin-right: 5px;
    display: inline-block;
    width: 30%;
}

input.form-control {
    display: inline-block;
    width: 50%;
}

tbody{
    text-align: right;
}

#id_marca {
    margin-right: 50px;
}
#id_numar {
    margin-right: 50px;
}
#id_combustibil {
    margin-right: 50px;
}

div.btn.btn-secondary {
    margin-left: 100px;
    width: 220px;
}

button.btn.btn-secondary {
    text-align: center;
    display: inline;
    margin-left: 110px;
    width: 220px;
    height: 50px;
}

