
body.mainbody {
    min-height: 100%;
    background-color: rgb(149, 163, 125);
}

header {
    height: 80px;
}

div.container {
    margin-top: 50px;
    background:none;
}

body.mainbody div.container div.container-title {
    color: darkslategray;
    font-size: larger;
    text-align: center;
}

p {
    color: darkslategray;
}

footer {
    height:fit-content;
    margin-top: auto;
    background-color: darkslategray;
}

h5.text-footer {
    color: rgb(149, 163, 125);
    padding-top: 30px;
    font-size: larger;
    text-align: center;
}

li {
    color: #6c757d;
}

.logo-footer {
    margin-left: 20px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 5% 5%;
}
