.carousel-inner { 
    margin: 50px auto; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  }

img {
    max-width: 400px;
    max-height: 300px;
}

h5.titlu {
    color:darkslategray;
}
