{% extends 'parkproject/main.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% block title %} {% translate "Client Nou" %}  {% endblock %}

{% block mainbody %}
<link rel="stylesheet" type="text/css" href="{% static 'clienti/css/client_nou.css' %}">

<body class='clientibody'>
    <br>
    <form id='payment-form' class='form-control' enctype="multipart/form-data" method='POST' novalidate>
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <center>
                    <div{% if message.tags %} id="card-errors" class="alert alert-{{ message.tags }} alert-dismissible fade show alert-sm" role="alert"{% endif %}>
                        {{ message }}
                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                </center>
            {% endfor %}
        {% endif %}

        <table class='table' align='center'>
            <thead>
                <h5 class='h5'><b>{% translate "Client" %}</b></h5>
            </thead>
            <tbody>
                <tr>
                    <td>{% translate "Nume: " %} {{client_form.nume}}</td>
                    <td id="custName">{% translate "Prenume: " %} {{client_form.prenume}}</td>
                </tr>
                <tr>
                    <td id="custEmail">{% translate "Email: " %} {{client_form.email}}</td>
                    <td>{% translate "Cnp: " %} {{client_form.cnp}}</td>
                </tr>
                    <td>{% translate "Judet: " %} {{client_form.judet}}</td>
                    <td>{% translate "Oras: " %} {{client_form.oras}}</td>
                <tr>
                    <td id="custAdd">{% translate "Adresa: " %} {{client_form.adresa}}</td>
                    <td>{% translate "Telefon: " %} {{client_form.telefon}}</td>
                </tr>
            </tbody>
        </table>
        <table class='table' align='center'>
            <thead>
                <h5 class='h5'><b>{% translate "Masina" %}</b></h5>
            </thead>
            <tbody>
                <tr>
                    <td>{% translate "Marca: " %} {{client_form.marca}}</td>
                    <td>{% translate "Model: " %} {{client_form.model}}</td>
                </tr>
                <tr>
                    <td id="carNr">{% translate "Numar: " %} {{client_form.numar}}</td>
                    <td>{% translate "Culoare: " %} {{client_form.culoare}}</td>
                </tr>
                <tr>
                    <td>{% translate "Combustibil: " %} {{client_form.combustibil}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table class='table' align='center'>
            <thead>
                <h5 class='h5'><b>{% translate "Permis" %}</b></h5>
            </thead>
            <tbody>
                <tr>
                    <td>{% translate "Nr. Permis: " %} {{client_form.nr_permis}} </td>
                    <td>{% translate "Ctg. Permis: " %} {{client_form.categ_permis}} </td>
                </tr>
                <tr>
                    <td><div id="custAbb" class="btn btn-secondary"> {{client_form.contract}} </div> </td>
                    <td><button id='submit' class="btn btn-secondary" type="submit">{% translate "Adauga Abonament" %}</button> </td>
                </tr>
            </tbody>
        </table>
</form>
</body>
{% endblock mainbody %}
