{% extends 'parkproject/main.html' %}
{% load static %}
{% block title %} Sterge Masina {% endblock %}

{% block mainbody %}
<center>
<div class="alert alert-secondary" role="alert">
  Confirmare eliminare masina.
</div>
 <form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Elimina Masina</button>
    <a class="btn btn-secondary" href="{% url 'clienti:masina' profil.id masina.id %}">Renunta</a>
    <hr>
  </form>
</center>
{% endblock %}