{% extends 'parkproject/main.html' %}
{% load i18n %}
{% load static %}
{% block title %} {% translate "Masina" %} {% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'clienti/css/clienti.css' %}">

{% block mainbody %}
<body class='clientibody'>
    <br>
    <table class='table' align='center'>
        <thead>
            <tr>
                <th></th>
                <th>{% translate "Profil" %}</th>
                <th>{% translate "Marca" %}</th>
                <th>{% translate "Model" %}</th>
                <th>{% translate "Numar" %}</th>
                <th>{% translate "Culoare" %}</th>
                <th><span style='margin-left:20px;'>{% translate "Elimina" %}</span></th>
            </tr>
        </thead>
        <tbody>
            {% if masina %}
            <tr>
                <td></td>
                <td>{{ profil|title }}</td>
                <td>{{ masina.marca|title  }}</td>
                <td>{{ masina.model|title  }}</td>
                <td>{{ masina.numar|title  }}</td>
                <td>{% trans masina.culoare|title %}</td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'clienti:del_masina' profil.id masina.id %}">
                        {% translate "Elimina Masina" %}
                    </a>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table> 
</body>
<br><br>
{% endblock mainbody %}
